{% extends 'base.html.twig' %}

{% block title %}Edit Test{% endblock %}

{% block body %}
    <h1>Edit Test</h1>

    {{ include('backend_test/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_test_index') }}">back to list</a>

    {{ include('backend_test/_delete_form.html.twig') }}
{% endblock %}
